.ad-component-container {
  min-width: 50%;
  min-height: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50px;
}

.ad-component {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50px;
}
@media (max-width: 768px) {
  .ad-component-container {
    min-width: 70%;
  }
}
