.ad-component {
  display: block;
  min-width: 50%;
  min-height: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50px;
}

@media (max-width: 768px) {
  .ad-component {
    min-width: 70%;
  }
}
