.confirm-btn-container:hover {
  cursor: pointer;
  z-index: 99999999;
  filter: brightness(0.8);
  transition: all 0.3s;
}
.confirm-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* if you need this for other reasons */
}

.confirm-btn {
  position: static; /* remove absolute positioning */
  transform: none; /* remove transform */
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  color: #edfd07;
}
