.footer {
  width: 100%;
  background-image: url('https://storage.googleapis.com/jingle-media/osrsButtonCredits.png') !important;
  z-index: 999 !important;
  padding: 8px 0 12px 0;
  color: var(--primary-yellow);
  box-shadow: 0px 1px 2px black;
  font-size: 1rem;
}

.link {
  color: #f9ffa0;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.link:hover {
  color: var(--primary-yellow-hover) !important;
}

.icon {
  display: inline-block;
  width: 40px;
}
.icon svg {
  width: 25px;
  color: var(--primary-yellow);
  font-size: 17px;
}

.icon svg:hover {
  color: #f9ffa0 !important;
}
