.main-menu-container {
  z-index: 3 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.main-menu-image {
  position: absolute;
  z-index: -99999;
  width: 70vw;
}

.main-menu-text {
  animation: fadeIn 1s;
  font-size: calc(8vw + 60px);
  color: var(--primary-yellow);
  text-shadow: 5px 5px 10px black;
  pointer-events: none;
}

.main-menu-title-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.main-menu-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 50px;
}

.main-menu-option {
  animation: fadeIn 1s;
  font-size: calc(3vw + 30px);
  font-style: italic;
  color: var(--primary-yellow);
  filter: brightness(90%);
  text-shadow: 2px 2px 10px black;
  text-decoration: none;
}

.main-menu-option:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.menu-statistics {
  animation: fadeIn 1s;
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: calc(20px + 1vw);
  color: var(--primary-yellow);
  font-style: italic;
  text-shadow: 2px 2px 10px black;
}

.main-menu-icon-container {
  animation: fadeIn 1s;
  margin-top: 20px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-menu-icon {
  padding: 2%;
  width: 80px;
  color: var(--primary-yellow);
  font-size: 30px;
}

.main-menu-icon:hover {
  color: var(--primary-yellow-light) !important;
}

@media screen and (max-width: 800px) {
  .main-menu-title-options {
    flex-direction: column;
  }
  .main-menu-options {
    gap: 30px;
  }
  .main-menu-option {
    font-size: 40px;
  }

  .main-menu-icon {
    font-size: 5vw;
  }
  .menu-statistics {
    margin-top: 50px;
  }
}
