.settings-btn-container {
  background-image: url('https://storage.googleapis.com/jingle-media/osrsSettingsButton3.png');
  position: absolute;
  width: 79px;
  height: 54px;
  right: 10px;
  top: 132px;
  transition: all 0.3s;
}

.settings-btn-container:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: translate(-5px, 0px);
}

@media (max-width: 768px) {
  .settings-btn-container {
    right: 5px;
    top: 10px;
    width: 44px;
    height: 30px;
  }
}
