@media (max-width: 600px) {
  .statistics {
    width: 170px;
    padding: 2% 4%;
  }
}
@media (min-width: 601px) {
  .statistics {
    width: 200px;
    padding: 0.7% 1%;
  }
}

.statistics {
  background-image: url("https://storage.googleapis.com/jingle-media/osrsButtonStatistics.png") !important;
  font-size: 20px;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 999 !important;
  color: #edfd07;
  box-shadow: -0.5px 1px 2px black;
  text-shadow: 1.5px 1.5px 1px black;
}

.statistics table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
