.ui-box {
  color: #edfd07;
  text-shadow: 1px 1px 1px black;
  top: 75%;
  left: 40%;
  width: 100%;
  max-width: 350px;
  z-index: 999 !important;
}

.score-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-btn {
  width: 100%;
  max-width: 250px;
  padding: 6px 0px;
}

.below-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.above-map {
  font-family: 'Runescape UF' !important;
  font-size: 1.5rem;
  position: absolute;
  width: 300px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  pointer-events: none !important;
}
.above-map > button {
  padding: 15px 40px;
  pointer-events: auto;
}
