.ui-box {
  color: #edfd07;
  text-shadow: 1px 1px 1px black;
  top: 75%;
  left: 40%;
  width: 100%;
  max-width: 380px;
  z-index: 999 !important;
}

.score-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-btn {
  width: 100%;
  max-width: 250px;
  padding: 10px 10px;
}
.guess-btn-no-border {
  border: none !important;
  height: 40px !important;
  border-radius: 5px;
  padding: 0 !important;
}
.snippet-player {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0px 7%;
}

.custom-range-input {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-range-input.hidden {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

/* Gradient slider styles */
.gradient-slider {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #ff0000, #00ff00);
  border-radius: 4px;
  outline: none;
}

/* Webkit browsers (Chrome, Safari) */
.gradient-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
.gradient-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

/* IE/Edge */
.gradient-slider::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range-input.visible {
  max-height: 100px; /* Adjust based on your content height */
  opacity: 1;
  margin: 8px 0; /* Adjust spacing as needed */
  padding: 8px 0;
}

.value-display {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.below-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.above-map {
  font-family: 'Runescape UF' !important;
  font-size: 1.5rem;
  position: absolute;
  width: 300px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  pointer-events: none !important;
}
.above-map > button {
  padding: 15px 40px;
  pointer-events: auto;
}
