.playersContainer {
  position: absolute;
  top: 40%;
  left: 150px;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  width: 250px;
  gap: 10px;
  max-height: 500px;
  overflow-y: scroll;
  text-shadow: 2px 2px 2px black;
}

.lobbyInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  line-height: normal;
}
.lobbyInfo h2 {
  margin: 0;
}

.status {
  color: var(--primary-yellow-dark);
}
.countdown {
}
.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.playerPicture {
  height: 70%;
  border-radius: 20px;
}
.playerInfo {
  text-align: left;
}
.playerRank {
  margin: 0;
}
