.playerContainerSimple {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 10px;
  gap: 10px;
  width: 100%;

  animation: leftSwipeFade 1s;
  transition: all 0.3s;
}

.playerContainerSimple h1 {
  margin: 0;
  font-weight: normal;
  font-style: italic;
}

.playerContainerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 10px;
  gap: 10px;
  width: 100%;

  animation: rightSwipeFade 1s;
  transition: all 0.3s;
}

@keyframes leftSwipeFade {
  0% {
    opacity: 0%;
    transform: translateX(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes rightSwipeFade {
  0% {
    opacity: 0%;
    transform: translateX(30px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.playersContainer {
  position: absolute;
  top: 40%;
  left: 150px;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  width: 250px;
  gap: 10px;
  max-height: 500px;
  overflow-y: scroll;
  text-shadow: 1px 1px 1px black;
}

.playerUsername {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: none;
  gap: 7px;
}
.playerUsername svg {
  color: var(--primary-green);
}

.lobbyInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  line-height: normal;
}
.lobbyInfo h2 {
  margin: 0;
}

.status {
  color: var(--primary-yellow-dark);
}
.countdown {
}
.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.playerPicture {
  height: 50px;
  border-radius: 20px;
}
.playerInfo {
  text-align: left;
}
.playerRank {
  min-width: 50px;
  margin: 0;
}
