@font-face {
  font-family: "Runescape UF";
  src: url("/fonts/runescape.ttf");
}

.App {
  text-align: center;
  font-family: "Runescape UF";
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.App-inner {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  padding-bottom: 5vh;
}

.absolute {
  position: absolute;
}

.button {
  margin: 0 0 20px;
  width: 250px;
  border-radius: 30px !important;
  font-style: italic;
}

.button {
  margin: 0 0 20px;
  width: 250px;
  border-radius: 30px !important;
  font-style: italic;
}
