.App {
  text-align: center;
}

.content {
  margin-top: 25px;
}

.runescapeMap {
  max-width: 50%;
}

.buttons {
  margin: 20px 0;
}

.songButton {
  margin-left: 20px;
}

.guessButton {
  margin-right: 1%;
}

#guessText {
  margin-top: 20px;
}

.leaflet-container {
  height: calc(100vh - 400px);
  width: 100%;
  max-width: 1920px;
}

.difficulty-increase-mods {
  background-color: #d4d4d4;
  border-radius: 5px;
}

.result-message {
  pointer-events: none;
  position: absolute;
  display: block;
  transition: opacity 0.2s;
}

.content {
  position: relative;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;;
  z-index: 3 !important; /* Ensure the button is above the blurred map */
}

.blur {
  filter: blur(5px); /* Adjust the blur strength as needed */
}
