:root {
  --primary-yellow: #edfd07;
  --primary-yellow-dark: #edfd0788;
  --primary-yellow-hover: #f6fe85;
  --primary-green: #00ff00;
  --primary-red: #ff0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}
